.Main_chat
  .Main_chat__group_info
    .Main_chat__group_info-name
      .Main_chat__group_info-name-group
        = @group.name
      .Main_chat__group_info-name-member 
        Member : 
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group), class: 'Main_chat__group_info-btn' do
      Edit  
      
  .Main_chat__messages
    = render @messages

  .Main_chat__messages-form
    = form_with model: [@group, @message], html: {class: "Main_chat__messages-form-contents"}, local: true do |f|
      .Main_chat__messages-form-contents-left
        = f.text_field :content, class: "Main_chat__messages-form-contents-left-text",placeholder: "type a message"
        = f.label :image, class: "Main_chat__messages-form-contents-left-icon" do
          = icon("fas", "image")
          = f.file_field :image, class: "Main_chat__messages-form-contents-left-icon-image_field"
      = f.submit "Send", class: "Main_chat__messages-form-contents-right"
