.Side_bar
  .Side_bar__user
    %ul.Side_bar__user-names
      %li.Side_bar__user-names-name
        = current_user.name
      %li.Side_bar__user-names-icon
        = link_to edit_user_path(current_user), class: "Side_bar__user-names-icon-btn" do
          = icon("fas", "cog", class: 'Side_bar__user-names-icon-btn-cog')
        = link_to new_group_path, class:"Side_bar__user-names-icon-btn" do
          = icon("far", "edit", class: 'Side_bar__user-names-icon-btn-edit')
  .Side_bar__groups
    - current_user.groups.each do |group|
      = link_to group_messages_path(group.id), class: "Side_bar__groups-block" do
        .Side_bar__groups-block-name
          = group.name
        .Side_bar__groups-block-message
          = group.show_last_message
